.day {
    &__header {
        background: $day-header-bg-color;
        color: $day-header-color;
        border-right: 1px solid $main-border-color;


        > span {
            display: block;
            text-align: center;
        }

        &--important {
            font-size: 16px;
        }

       
    }
    &__bottom {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .day {
        &__header {
            height: 129px;
           
        }
        
        &__details {
            height: 80px;

            .rbc-slot {
                &:not(.slot--inactive) {
                    height: 80px;
                }

                &__title {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .day {
        &__header {
            height: auto;
        }

        &__details {
            // height: 100px;

            .rbc-slot {
                &:not(.slot--inactive) {
                    // height: 100px;
                }

                &__title {
                    font-size: 25px;
                }
            }
        }
    }
}
