.rbc-month {
    &--small,
    &--medium {
        display: flex;
        flex-direction: column;

        .rbc-month {
            &__header {
                display: flex;
                width: 100%;
                height: 40px;
                align-items: stretch;

                > div {
                    flex-grow: 1;
                    flex-basis: 0;
                    text-align: center;
                    align-self: stretch;
                    line-height: 40px;

                    &:not(:first-child) {
                        border-left: 1px solid $main-border-color;
                    }
                }
            }

            &__details {
                > div {
                    display: inline-block;
                    width: calc(100% / 7);
                    vertical-align: top;
                    height: 50px;
                    line-height: 50px;

                    .rbc-slot {
                        height: 100%;

                        > div {
                            align-self: flex-start;
                        }

                        &__title {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    &--big {
        .day {
            display: flex;
            align-content: flex-start;
            height: auto;
            border-bottom: 1px solid #f2f2f2;

            &__header {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 85px;
            }

            &__details {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 0px 5px;
                flex-wrap: wrap;
                

                .rbc-slot {
                    justify-content: flex-start;
                    text-align: center;
                    display: block;
                    border: 1px solid #f2f2f2;
                    min-height: 71px;
                    &__title{
                        // font-size: 26px;
                        font-weight: 400;
                    }
                    
                    &__message {
                        font-size: 11px;
                        font-weight: 600;
                    }
                }
                .rbc-slot.rbc-slot--free {
                    .rbc-slot__message {
                        background: #eaeaea;
                        // background: #28a745;
                        display: inline-block;
                        padding: 1px 10px;
                        margin-bottom: 7px;
                        overflow: hidden;
                        border-radius: 5px;
                        color: #000000;
                    }
                }

                .rbc-slot.rbc-slot--booked {
                    .rbc-slot__message {
                        background: $slot-booked-bg-color;
                        // background: #d55e00c7;
                        display: inline-block;
                        padding: 1px 10px;
                        margin-bottom: 7px;
                        overflow: hidden;
                        border-radius: 5px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.cart-header{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    background: rgba(78, 76, 76, 0.62);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(52,58,64,.5);

    &__prev,
    &__next {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #ffffff;
        font-size: 30px;
        padding-right: 0.5em;
        position: absolute;
        height: 100%;
        padding: 0px 15px;

        &:before  {
            cursor: pointer;
            position: absolute;
            padding: 10px;
            top: 50%;
            -webkit-transform: translateX(50%) translateY(-50%);
            -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
        }
    }

    &__prev{
        left: 0px;

        &:before {
            right: calc(50% - 5px);
            content: '\f104';
        }
    }
    &__next{
        right: 0px;
        top: 0;
        &:before {
            right: calc(50% + 5px);
            content: '\f105';
        }
    }

    &__header{
        position: relative;
        top: 14px;
        text-align: center;
        font-size: 18px;
    }
}