// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$number_of_slot: 24;

$header-bg-color: #000;
$header-color: #fff;

$body-bg-color: #fffff ;
$body-color: #fff;

$main-bg-color: #000;
$main-color: #fff;
$main-border-color: rgba(255, 255, 255, 0.3);

$day-header-bg-color: #696969 ;
$day-header-color: #fff;

$header-active-bg-color: rgba(245, 122, 163, 0.8);
$header-active-hover-bg-color: #fff;
$header-hover-color: rgba(245, 122, 163, 0.8);

$details-bg-color: #fff ;
$details-color: #000;

$slot-bg-color: #fff ;
$slot-color: #fff;
$slot-border-color: rgba(255, 255, 255, 0.1);
$slot-booked-bg-color:  rgba(230, 159, 0,1);
$slot-free-bg-color: #000;
$slot-inactive-bg-color: #fff ;
